body {
  padding: 0px;
  margin: 0px;
  font: 400 16px/1.5em "Open Sans", sans-serif;
}
.page-content {
  max-width: 100%;
  /* margin: 32px auto;  */
  padding: 32px;
  background: #fff;
}
a {
  color: #21d4fd;
  transition: all 0.3s;
}
a:hover {
  color: #b721ff;
}

.tabbed {
  overflow-x: hidden; /* so we could easily hide the radio inputs */
  margin: 32px 0;
  padding-bottom: 16px;
  /* border-bottom: 1px solid #ccc; */
}

.tabbed [type="radio"] {
  /* hiding the inputs */
  display: none;
}

.tabs {
  display: flex;
  align-items: stretch;
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #ccc;
  overflow-x: auto;
  overflow-y: hidden;
}

/* Scroll bar horizontal */
.tabs::-webkit-scrollbar {
  height: 3px;
}

.tabs::-webkit-scrollbar-track {
  background: #eeeeee;
}

.tabs::-webkit-scrollbar-thumb {
  background: rgb(119, 119, 119);
}
/* -------------------- */

.tab > label {
  display: block;
  margin-bottom: -1px;
  padding: 12px 15px;
  border: 1px solid #ccc;
  background: #eee;
  color: #666;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.1s;
}
.tab:hover label {
  border-top-color: #333;
  color: #333;
}

.tab-content {
  display: none;
  color: rgb(0, 0, 0);
}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed
  [type="radio"]:nth-of-type(5):checked
  ~ .tabs
  .tab:nth-of-type(5)
  label {
  border-bottom-color: rgb(238, 0, 255);
  border-top-color: #000;
  background: #fff;
  color: #222;
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
  display: block;
}

/*  */

.no-radius {
  border-radius: 0px !important;
  margin-top: 10px;
}

.cusNamePhone {
  display: flex;
  justify-content: space-between;
}

.orderPerDet {
  color: #da397c;
  font-size: 20px;
}

.iframeClass {
  background-image: url("../images/location-back.png");
  background-repeat: no-repeat;
  background-size: 400px 250px;
  width: 400px;
  height: 250px;
  transition: all 0.2s;
}

@media screen and (max-width: 900px) {
  .iframeClass {
    width: 350px;
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .iframeClass {
    width: 300px;
    height: 200px;
  }
}
